{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Game {% endblock %}</h1>
    <form method="post">


        <label for="title">Title</label>
        <br>
        <input type="text" name="title"
               placeholder="Game title"
               value="{{ request.form['title'] }}"></input>
        <br>

        <label for="genre">Genre</label>
        <br>
        <input type="text" name="genre"
               placeholder="Game genre"
               value="{{ request.form['genre'] }}"></input>
        <br>

        <label for="description">Game Description</label>
        <br>
        <textarea name="description"
                  placeholder="Game description"
                  rows="7"
                  cols="60"
                  >{{ request.form['description'] }}</textarea>
        <br>

        <label for="dev_id">Developer ID</label>
        <br>
        <input type="number" name="dev_id"
               placeholder="Developer ID"
               value="{{ request.form['dev_id'] }}"></input>
        <br>

        <label for="dev_name">Developer Name</label>
        <br>
        <input type="text" name="dev_name"
               placeholder="Developer Name"
               value="{{ request.form['dev_name'] }}"></input>
        <br>

        <label for="price">Price</label>
        <br>
        <input type="number" name="price" placeholder="Price" onchange="setTwoNumberDecimal" min="0" max="999" step="0.01" value="{{ request.form['price'] }}"></input>

        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}